<!--
    This is supposed to be a template for the home page 
    The dynamic aspects of the page is still undecided
-->

<!--
    The layout of the page is supposed thought to be a dask background 
    with 5 even card shaped buttons (white in color) 
    The cards will have a purple border shadow to them when hovered over
    The cards will contain the options for the different GAN types 

    When a card is clicked it will route to a page that will give information 
    regarding the type of GAN selected.

    This base home page should also have a nav bar contining buttons such as, 
    Login, signup, logout, profile 

    The sign in and log in buttons should only appear when the page is first loaded, 
    and it is recognised that the user is not signed in 

    once logged in, the buttons home, logout and profile should appear

    when logged out the user should be directed to the signup/login page
-->

<!-- 
    The above is a discription for the layout this html page will consist 
    of a navbar with all the buttons and then frontend jinja logic will be 
    implemented ho hide these buttons using an if else condition
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAN Show case</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/base.css') }}">

</head>
<body>
<!--
    Navbar laout
-->
    <nav class="navbar">
        {% if user.is_authenticated%}
        <a class="nav-btns" id="home" href="/">Home</a>
        <a class="nav-btns" id="Logout" href="/Logout">Logout</a>
        <a class="nav-btns" id="profile" href="/profile">Profile</a>
        {%else%}
        <a class="nav-btns" id="Login" href="/login">Login</a>
        <a class="nav-btns" id="Login" href="/signup">Sign up</a>
        {%endif%}        
    </nav>

    <div class="content">
        {% block content%} {%endblock%}
    </div>

</body>
</html>