{%extends "base.html"%}
{%block content%}
    {%if flag == True%}
        <div class="gen-img-container">
            <div class="gen-img-title">
                <h2>Generated samples :1</h2>
            </div>
            <div class="get-imgs">
                <h2>
                    Display generated images here
                </h2>
            </div>
            <div class="real-imgs">
                <h2>
                    Display real images for comparisons 
                </h2>
            </div>
            <div class="user-thought">
                <h2>
                    User Input reviews about their thoughts on the generated images
                </h2>
            </div>
        </div>
    {%else%}
        <h2>Model has loading failed in views</h2>
    {%endif%}
{%endblock%}

