{%extends "base.html"%}
{%block content%}
    <link rel="stylesheet"  type="text/css" href="{{url_for('static', filename='./css/home.css')}}">
    <div class="home-body">
        <div class="card-container">
            <div class="card">
                <div class="gan-access">
                    <h2>DCGAN</h2>
                    <form method="POST">

                        <select id="gan-type" name="GanType">
                            <option name="GanType" value="DCGAN">DCGAN</option>
                            <option name="GanType" value="LSGAN">LSGAN</option>
                            <option name="GanType" value="WGAN">WGAN</option>
                            <option name="GanType" value="BIGAN">BIGAN</option>
                        </select>
                        
                        <select id="plant" name="plant">
                            <option name="plant" value="Cherry">Cherry</option>
                            <option name="plant" value="Pepper">Pepper</option>
                            <option name="plant" value="Potato">Potato</option>
                            <option name="plant" value="Strawberry">Strawberry</option>
                            <option name="plant" value="Tomato">Tomato</option>
                        </select>
                        
                        <label for="numberInput">Please enter a number: </label>
                        <input type="number" id="numberInput" name="BatchSize" required>
                        <button type="submit">Submit</button>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
{%endblock%}